*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: auto;
}

/* Site Hrader css */
header{
    background-color: lightseagreen;
    padding: 5px;
}

.logo{
    width: 150px;
    height: 80px;
    background-color: lightsteelblue;
    margin-bottom: 5px;
}

nav{
    width: 50%;
    height: 30px;
    background-color: azure;
}
/* /Site Hrader css */

/* Site Main css */
.img_main{
    height: 300px;
    background-color: chocolate;
}

.title{
    height: 80px;
    background-color: lightslategray;
}

main{
    width: 50%;
    height: 300px;
    float: left;
    background-color: navy;
}

.aside_left, .aside_right{
    width: 25%;
    height: 300px;
    float: left;
}

.aside_left{
    background-color: rebeccapurple;
}

.aside_right{
    background-color: royalblue;
}
/* /Site Main css */


/* Site Footer css */

footer{
    height: 50px;
    background-color: green;
}

/* /Site Footer css */
