*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    width: 80%;
    height: 500px;
    margin: auto;
    background-color: gray;
}

/* Hrader css */
header{
    background-color: lightseagreen;
    padding: 5px;
}

.logo{
    width: 150px;
    height: 100px;
    background-color: lightsteelblue;
    margin-bottom: 5px;
}

nav{
    width: 50%;
    height: 50px;
    background-color: azure;
}
/* /Hrader css */
